@import 'loader';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$color: #000;
$fontFamily: HelveticaNeueArabic,NeueHelveticaW01,Helvetica,HelveticaWorld,Arial,TazuganeGothic,sans-serif;

body {
  background: #272727;
  background: #272727;
  background: #fdfdfa;
  margin: 0;
}

a {
  color: $color;
  text-decoration: underline;
}


@mixin element-padding() {
  padding: 0 20px 40px;

  @media (min-width: 640px) {
    padding: 0 40px 80px;
  }
}

.page {
  margin: 60px auto 0;
  max-width: 1260px;

}

.btn {
  padding: 12.5px;
  line-height: 1;
  position: relative;
  border: 1px solid #c3c3c3;
  border-radius: 0;
  display: block;
  background: none;
  color: $color;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;
  font: HelveticaNeueArabic,NeueHelveticaW01,Helvetica,HelveticaWorld,Arial,TazuganeGothic,sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: none;
  display: block;
  font-size: 11px;
  transition: all 70ms linear;
  outline: none;

  &:hover {
    color: white;
    background: black;
    border: 1px solid black;
    cursor: pointer;
  }
}

.btn--fullWidth {
  width: 100%;
}

.btn--loadMore {
  font-size: 0.825rem;
  font-weight: bold;
  padding: 20px 0;
}

.videoFeed {
  &.videoFeed--withToolbar {
    width: calc(100% - 200px);
    margin-left: 200px;

    @media (min-width: 950px) {
      width: calc(100% - 250px);
      margin-left: 250px;
    }
  }
}

.feedUnit {
  width: 100%;
  padding: 5rem 0;
  // border-bottom: 1px solid #c3c3c3;
  @include element-padding();
}


.videoFeed__items {
  padding-top: 20px;

  @media (min-width: 640px) {
    padding-top: 40px;
  }

  @media (min-width: 950px) {
    padding-top: 80px;
  }
}

.videoUnit {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 1rem;
  position: relative;

  .videoUnit__loader {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .videoUnit__container {
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 56.35%;
    background: #ccc;

    iframe {
      display: block;
      border: 0;
      width: 100%;
      height: 100%;
      position: absolute; 
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 300ms linear;

      &.hasLoaded {
        opacity: 1;
      }
    }
  }
}

.videoInfo {
  width: 100%;
  max-width: 900px;
  font-family: Helvetica;
  color: $color;
  margin: 0 auto;
  position: relative;

  h2 {
    margin: 0 0 .5rem 0;
    max-width: 800px;
    font-size: 1.250rem;

    @media (min-width: 640px) {
      padding-right: 200px;
      font-size: 2rem;
    }
  }

  span {
    font-size: 0.6875rem;
    margin-bottom: 1.5rem;
    display: block;
    padding-right: 200px;
  }

  p {
    max-width: 420px;
    line-height: 1.6em;
    font-size: 14px;
  }

  .videoInfo__summary {
    margin-bottom: 30px;
  }

  .videoInfo__duration {
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 10px;
    color: grey;
    padding: 0;
    margin: 0 0 5px;
  }

  .moreLikeThisBtn {
    top: 0;
    right: 0;

    @media (min-width: 640px) {
      position: absolute;
    }
  }
}

.header {
  height: 60px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: white;

  .header__logo {
    width: 127px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.loadMoreSection {
  @include element-padding();
  
  .loadMoreSection__inner {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }

  .loadMoreSection__spinner {
    width: 50px;
  }
}

.toolbar {
  width: 200px;
  top: 60px;
  position: fixed;
  height: 100%;
  padding: 0 30px;

  @media (min-width: 950px) {
    width: 250px;
  }

  .toolbar__menu {
    list-style: none;
    font-family: Helvetica;
    font-size: .750rem;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;

    li {
      margin-bottom: .5em;

      a {
        text-decoration: none;

        &:hover {
          color: #aaa;
          cursor: pointer;
        }
      }
    }

    @media (min-width: 640px) {
      margin-top: 40px;
    }

    @media (min-width: 950px) {
      font-size: 1.25rem;
      margin-top: 80px;
    }
  }
}


.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
