.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: .55em solid rgba(0, 0, 0, 1);
  border-right: .55em solid rgba(0, 0, 0, 1);
  border-bottom: .55em solid rgba(0, 0, 0, 1);
  border-left: .55em solid rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 .85s infinite linear;

  &.loader--light {
    border-top: .55em solid rgba(156, 156, 156, 1);
    border-right: .55em solid rgba(156, 156, 156, 1);
    border-bottom: .55em solid rgba(156, 156, 156, 1);
    border-left: .55em solid rgba(156, 156, 156, 0);    
  }

  &.loader--centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
